<!DOCTYPE html>
<html lang="en" ng-app="ngSocket">
<head>
	<meta charset="UTF-8">
	<title>ngSocket</title>		
</head>
<body ng-controller="ngSocketController">
	<h1>Hello! {{ name }} </h1>

	<script src="/angular.min.js"></script>
	<script src="/socket.io.js"></script>	
	<script src="app.js"></script>
</body>
</html>